POSTGRES_DB=dsa_notes
POSTGRES_USER=dsa_notes
POSTGRES_PASSWORD=dsa_notes
POSTGRES_PORT=5432

DATABASE_URL=postgresql://dsa_notes:dsa_notes@localhost:5432/dsa_notes
DATABASE_TEST_URL=postgresql://dsa_notes:dsa_notes@localhost:5432/dsa_notes_test

API_HOST=localhost
API_PORT=3000
